
:root{

     --white:white;
     --black:black;


    --padding:1rem 2rem;
    --borderRadius:.2rem;
    --borderColor:#949191;

      
      
}

@font-face {
    font-family:aonikLight ;
    font-weight: 200;
    src: url('./fonts/AeonikTRIAL-Light.otf');
}


@font-face {
    font-family:aonikRegular ;
    font-weight: 500;
    src: url('./fonts/AeonikTRIAL-Regular.otf');
}

@font-face {
    font-family:aonikBold ;
    font-weight: 700;
    src: url('./fonts/AeonikTRIAL-Bold.otf');
}
*{
    margin:0%;
    padding:0%;
    box-sizing:border-box;
    
}

html,body{
     height:100%;
     width: 100%;
}

/* *usefull code 

/* blur effect  
    background: rgb(255, 255, 255 ,0.2);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);

     border: 1px solid var(--borderColor);


 */

/* Main section */
main{

    width: 100%;
    height: 100%;
    position: relative;
  
}


/* All content container  */
.allElems{

    width: 100%;
    height: 100%;
    position: relative;

}

/* bg video  */

.allElems .bg-vid{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    z-index: -1;
    background: #000;
}

.allElems nav{
    width: 98%;
    height: 9%;
    position: absolute;
    top: 7%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding:var(--padding);
  

   
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;

     

}


.allElems nav .nav-left  .logo{
    width: 100px;
    z-index: 1000;
    filter: invert();
}

.allElems nav .nav-left{
 /* blur effect  */
    background: rgb(255, 255, 255 ,0.2);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);

     border-radius: var(--borderRadius);
     border: 1px solid var(--borderColor);
     padding: .5rem;

}


.allElems nav .nav-right{
 /* blur effect  */
    background: rgb(255, 255, 255 ,0.2);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);

     border-radius: var(--borderRadius);
     border: 1px solid var(--borderColor);
     padding: .5rem;

}
.allElems nav .nav-right i{

    font-size: 1.5rem;
    color: var(--white);


}
.allElems nav .nav-right .dark{
    display: none;
}

/* wether and date and Time  */

.allElems .wetherAndDate{

   position: absolute;
   top: 45%;
   left: 22%;
   transform: translate(-50%, 0%);


   width: 40%;
   height: 33%;

   border: 1px solid var(--borderColor);

    /* blur effect  */
    background: rgb(255, 255, 255 ,0.2);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
   
     border-radius: var(--borderRadius);

     color: var(--white);
     display: flex;
     justify-content: space-between;
     align-items: center;

     cursor: pointer;
     
}

.DateAndTime{
    width: 67%;
    height:100%;
    padding: 1rem;
    display: flex;
    justify-content:center;
    align-items: start;
    flex-direction: column;
    gap: .5rem;
    
}

.DateAndTime>h1{

    font-family: aonikRegular;
    font-size: 2.7rem;
}


.DateAndTime h2{
    font-family: aonikLight;
    font-size: 1rem;
}

.DateAndTime .city{

     font-family: aonikLight;
    font-size: 1.2rem;
}
.DateAndTime .city>span{
    text-transform: uppercase;
}

.wether{ 

    
    width: 33%;
    height:100% ;
    padding: 1rem;
    display: flex;
    justify-content:center;
    align-items: start;
    flex-direction: column;
    gap: 1rem;
}

.wether h2 , h4 {

    font-family: aonikRegular;
    font-size: 2rem;

}
.wether>h3 {

    font-family: aonikLight;
    font-size: .8rem;

}




/* all features box  */


.allElems .allFeatures{

   position: absolute;
  
  
   right: 0%;
   bottom: 0%;
   width: 7%;
   height: 60%;

    /* blur effect  */
    background: rgb(255, 255, 255 ,0.2);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
     padding: .5rem ;

     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;
     gap: .4rem;
     border-radius: var(--borderRadius);

      border: 1px solid var(--borderColor);

}


.allElems .allFeatures .feature{

    width: 100%;
    height: 25%;
    background: transparent;
    border-radius: 50%; 
    cursor: pointer;
    overflow: hidden;
   
    position: relative;
    transition: all .4s ease-in-out;
    
}

.feature:hover {

     box-shadow: 0 0 10px rgb(22, 22, 23), 
                0 0 20px rgb(18, 18, 18), 
                0 0 40px rgb(36, 36, 37);
}


.feature>img{
    width: 100%;
    height:100% ;
    object-fit: cover;
}

.feature>h3{
    width: 100%;
    height:100% ;
    font-family: aonikLight;
    color: var(--white);

    display: none;
    justify-content: center;
    align-items: center;
    

    text-transform: uppercase;
    background:transparent;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 20000;

}

.feature>video{
    width: 100%;
    height:100% ;
    object-fit: cover;
    display: none;
}

.moti img{
    background-position: center center;
}

/* Full Elems  */



.fullElem{
    width: 100%;
    height:100% ;
    background-color: gray; 
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    
}


.todo-list-fullPage{


}

.fullElem>h1{

     
    display: none;
    width: 100%;
    height:10% ;
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 1rem 2rem;
    
}

.back{
    cursor: pointer;
    font-size: 3rem;
}



