
:root{

     --white:white;
     --black:black;


    --padding:1rem 2rem;
    --borderRadius:.2rem;
    --borderColor:#949191;

    --pri:#fe9ec1;
    --sec:#3A0519;
    --tri1:#670D2F;
    --tri2:#A53860;


    
    --red:#ff0000;
    --green:#01b001;
    --greenBoxShado:0 0 40px 10px rgba(60, 241, 63, 0.598);
    --blue:#01a6ff;
    --blueBoxShado:  0 0 40px 10px rgba(101, 203, 219, 0.598);

      
      
}


@font-face {
    font-family:aonikLight ;
    font-weight: 200;
    src: url('./fonts/AeonikTRIAL-Light.otf');
 
}


@font-face {
    font-family:aonikRegular ;
    font-weight: 500;
    src: url('./fonts/AeonikTRIAL-Regular.otf');
}

@font-face {
    font-family:aonikBold ;
    font-weight: 700;
    src: url('./fonts/AeonikTRIAL-Bold.otf');
}
*{
    margin:0%;
    padding:0%;
    box-sizing:border-box;
    
}

html,body{
     height:100%;
     width: 100%;
}

/* *usefull code 

/* blur effect  
    background: rgb(255, 255, 255 ,0.2);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);

     border: 1px solid var(--borderColor);


 */

/* Main section */
main{

    width: 100%;
    height: 100%;
    position: relative;
  
}


/* All content container  */
.allElems{

    width: 100%;
    height: 100%;
    position: relative;

}

/* bg video  */

.allElems .bg-vid{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    z-index: -1;
    background: #000;
}

.allElems nav{
    width: 98%;
    height: 9%;
    position: absolute;
    top: 7%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding:var(--padding);
  

   
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;

     

}


.allElems nav .nav-left  .logo{
    width: clamp( 4rem, 10vw,100px);
    z-index: 1000;
    filter: invert();
}

.allElems nav .nav-left{
 /* blur effect  */
    background: rgb(255, 255, 255 ,0.2);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);

     border-radius: var(--borderRadius);
     border: 1px solid var(--borderColor);
     padding: .5rem;

}


.allElems nav .nav-right{
 /* blur effect  */
    background: rgb(255, 255, 255 ,0.2);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);

     border-radius: var(--borderRadius);
     border: 1px solid var(--borderColor);
     padding: .5rem;

}
.allElems nav .nav-right i{

    font-size: 1.5rem;
    color: var(--white);


}
.allElems nav .nav-right .dark{
    display: none;
}

/* wether and date and Time  */

.allElems .wetherAndDate{

   position: absolute;
   top: 45%;
   left: 22%;
   transform: translate(-50%, 0%);

   width: 40%;
   height: 33%;

   border: 1px solid var(--borderColor);

    /* blur effect  */
    background: rgb(255, 255, 255 ,0.2);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
   
     border-radius: var(--borderRadius);

     color: var(--white);
     display: flex;
     justify-content: space-between;
     align-items: center;

     cursor: pointer;
     
}

.DateAndTime{
    width: 67%;
    height:100%;
    padding: 1rem;
    display: flex;
    justify-content:center;
    align-items: start;
    flex-direction: column;
    gap: .5rem;
    
}

.DateAndTime>h1{

    font-family: aonikRegular;
    font-size: clamp(1.5rem, 3vw,2.7rem);
}


.DateAndTime h2{
    font-family: aonikLight;
   font-size: clamp(.8rem, 1.5vw,1rem);
}

.DateAndTime .city{
    font-family: aonikLight;
    font-size: clamp(.9rem, 1.6vw,1.2rem);
}
.DateAndTime .city>span{
    text-transform: uppercase;
}

.wether{ 
    
    width: 33%;
    height:100% ;
    padding: 1rem;
    display: flex;
    justify-content:center;
    align-items: start;
    flex-direction: column;
    gap: .5rem;
}

.wether h2 , h4 {

    font-family: aonikRegular;
    font-size: 2rem;

}
.wether>h3 {
    font-family: aonikLight;
     font-size: clamp(.5rem, 1.4vw,.8rem);

}




/* all features box  */


.allElems .allFeatures{

   position: absolute;
  
  
   right: 0%;
   bottom: 0%;
   width: 14vh;
   height: 65vh;

    /* blur effect  */
    background: rgb(255, 255, 255 ,0.2);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
     padding: .5rem ;

     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;
     gap: .4rem;
     border-radius: var(--borderRadius);

      border: 1px solid var(--borderColor);

}


.allElems .allFeatures .feature{

    width: 100%;
    height: 25%;
    background: transparent;
    border-radius: 50%; 
    cursor: pointer;
    overflow: hidden;
   
    position: relative;
    transition: all .4s ease-in-out;
    
     /* border: 1px solid var(--borderColor); */

    
}

.feature:hover {

     box-shadow: 0 0 10px rgb(22, 22, 23), 
                0 0 20px rgb(18, 18, 18), 
                0 0 40px rgb(36, 36, 37);
}


.feature>img{
    width: 100%;
    height:100% ;
    object-fit: cover;
}

.feature>h3{
    width: 100%;
    height:100% ;
    font-family: aonikLight;
    color: var(--white);

    display: none;
    justify-content: center;
    align-items: center;
    

    text-transform: uppercase;
    background:transparent;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 20000;

}

.feature>video{
    width: 100%;
    height:100% ;
    object-fit: cover;
    display: none;
}

.moti img{
    background-position: center center;
}

/* Full Elems  */

.fullElem{
    width: 100%;
    height:100% ;
   
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    
     background-color:var(--sec);
}



.fullElem>h1{

     
   display: none;
   width: 100%;
   /* height:10% ; */
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 1rem 2rem;
   color: var(--white);
   font-family: aonikBold;

   font-size: clamp( 1.5rem , 3.5vw ,3.5rem);
   height: 15%;

    
}

.back{
    cursor: pointer;
    font-size: (1.5rem , 3vw ,2rem);
     color: var(--pri);
    border-radius: var(--borderRadius);

    
}

/* todo list fullPage  */

.todo-list-fullPage{

    flex-direction: column;    
}
.todo-list-fullPage>h1{

    font-size: clamp( 1.5rem , 3.5vw ,3.5rem);
    height: 15%;
}

.todo-list-fullPage .todo-feature{

     display: flex;
     width:100% ;
     height:calc(100% - 10%) ;
     padding: var(--padding);
     gap:2rem;
     
} 

.todo-list-fullPage .todo-feature .addTask{
    width: 40%;
    height: 90%;
    background-color:var(--tri2);
    border-radius: var(--borderRadius);
    padding: var(--padding);

    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    

}
 #taskTitle , #taskDescr , #markImortant , #addTask {

    width: 95%;
    outline: none;
    border: none;
    font-size: 1.1rem;
    padding: var(--padding);
    background-color: var(--sec);
    color: var(--pri);
    font-family: aonikLight;
    border-radius: var(--borderRadius);
     cursor: pointer;



}

.addTask #taskDescr{
    height: 55%;
}

.addTask>h3{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: .5rem;
}
.addTask #addTask{
    background-color: var(--pri);
    color: var(--white);
    
}


/* for all Button */

button{
    transition: all .4s ease-in-out;
    cursor: pointer;

}
button:active{
   transform: scale(.95);
   box-shadow: 0px 0px 0px var(--black);

}

.todo-list-fullPage .todo-feature .todo-list-container{
    width: 60%;
    height: 90%;
    padding: .5rem;

    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    gap: .5rem;

    overflow-y: auto;
    background-color: var(--tri2);
    border-radius: var(--borderRadius);

    
}

.todo-list-container::-webkit-scrollbar{
    display: none;
}
.todo-list-container .task-box{

    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: space-between;
    align-items: center;

    gap: .4rem;
    padding: var(--padding);
    border-radius: var(--borderRadius);
    background-color: var(--pri);
}

.todo-list-container .task-box .title{
    font-family: aonikRegular;
    text-transform: capitalize;
  
    font-size: clamp(1.2rem , 2vw , 3rem);
    
}

.todo-list-container .task-box .title .important{
    font-family: aonikRegular;
    color: var(--red);
   
}


.todo-list-container .task-box .title .false{
     display: none;
}

.todo-list-container .task-box .title .true{
   
     display: block;
}


.todo-list-container .task-box .description{

    width: calc(100% - 28% - 28%);
    font-family: aonikLight;
    font-size: clamp(.8em , 1.2vw , 1.5rem);
}

.todo-list-container .task-box .completed{

    font-family: aonikRegular;
    cursor: pointer;
     width:fit-content;
     font-size: clamp(.6rem , 1.2vw , 1.5rem);
    background-color: var(--green);
    color: var(--white);
    padding: .5rem 1rem;
   
    border: 1px solid var(--borderColor);
    border-radius: var(--borderRadius);
    
}

/* Daily Planner  */

.daily-planner-fullPage{

    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.daily-planner-fullPage .day-planner{

    width: 96%;
    height:calc(100% - 20%) ;
    padding: 1rem;


    display: flex;
    flex-direction: row;
    gap: 1rem;
    
    background-color: var(--tri2);
    border-radius: var(--borderRadius);

    overflow: auto;
    flex-wrap: wrap;

}


.daily-planner-fullPage .day-planner::-webkit-scrollbar{
    display: none;
}

.daily-planner-fullPage .day-planner .day-time{

    width: 49%;
    height:15%;
    background-color: var(--pri);
    border-radius: var(--borderRadius);
    flex-shrink: 0;

    position: relative;
  
}

.day-time>p{
    font-size: (.8rem , 1.5vw ,1.3rem);
    font-family: aonikRegular;
    position: absolute;
    left: 2%;
    top: 5%;
} 

.day-time>input{

     width: 100%;
     height:100% ;
     
     font-size:clamp( 1.3rem, 3vw, 1.8rem);
     outline: none;
     border: none;
     background-color: var(--pri);
     padding-left: 1rem;
     padding-top: .5rem;
    
}

/** Motivationl Container  */

.moti-fullPage{

    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: .2rem;

    
}
.moti-fullPage>h1 button{

    padding: .5rem;
    cursor: pointer;
    font-size: clamp(.8rem , 2.5vw , 1.5rem);
    
    outline: none;
    border: none;
    color: var(--white);
    border-radius: var(--borderRadius);
    background-color: var(--green);
    box-shadow: var(--greenBoxShado);
    

}
.moti-fullPage  .moti-container{

    width: 96% ;
    height: calc(100% - 20% ) ;

    border-radius: var(--borderRadius);
     border: 1px solid var(--borderColor);
    background-color: var(--pri);  
    padding: 1rem;

    position: relative;
 
    box-shadow:
        0 0 40px 10px rgba(217, 43, 179, 0.4),   /* box ke bahar glow */
        inset 0 0 60px rgba(0, 0, 0, 0.4);        /* box ke andar shadow, depth ke liye */

}

.moti-fullPage  .moti-container .moti-wrapper{

  
         
    border-radius: var(--borderRadius);
    border: 1px solid var(--borderColor);

    width: 100%;
    height:100%;

    display: flex;
    justify-content: center;
    align-items: center;
    
     
}

.moti-fullPage  .moti-container .moti-wrapper .motivation-box{        
    border-radius: var(--borderRadius);
    border: 5px solid var(--sec);
    width: 70%;
    height:fit-content;
    padding: 1rem;

    display: flex;
    justify-content: space-between;
    align-items: start;
    flex-direction: column;

    cursor: pointer;

    box-shadow:
        0 0 40px 10px rgba(212, 103, 189, 0.588),   /* box ke bahar glow */
        inset 0 0 60px rgba(0, 0, 0, 0.4);        /* box ke andar shadow, depth ke liye */
    
}



.moti-fullPage  .moti-container .moti-wrapper .motivation-box .tag{        

    width: fit-content;
    border-radius: var(--borderRadius);
    background-color: var(--tri1);
    color: var(--white);
    padding: .8rem .5rem;

   font-size:clamp(.7rem , 2vw ,1.5rem);

    font-family: aonikRegular;

}


.moti-fullPage  .moti-container .moti-wrapper .motivation-box .quote{        

    width: 100%;
    border-radius: var(--borderRadius);
  
    display: flex;
    justify-content: center;
    align-items: center;
    
    color: var(--sec);
    padding: .8rem .5rem;
    font-size:clamp( 1rem, 3vw,1.7rem);
    font-family: aonikRegular;

}



.moti-fullPage  .moti-container .moti-wrapper .motivation-box .auther{        

   width: 100%;
   display: flex;
   align-items: end;
   justify-content: end;
   
}



.moti-fullPage  .moti-container .moti-wrapper .motivation-box .auther>h3{        

    width: fit-content;
    border-radius: var(--borderRadius);
    background-color: var(--tri1);
    color: var(--white);
    padding: .8rem .5rem;

    font-size:clamp(.7rem , 2vw ,1.5rem);
    font-family: aonikRegular;
    text-transform: capitalize;
}


/** PomoDoro  */


.pomodoro-fullPage {
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}




.pomodoro-fullPage .pomo-container{

    width: 96%;
    height: 80%;

    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;

    gap: 2rem;

    /* background-color: var(--pri); */

    
}

.pomodoro-fullPage .pomo-container .session-tag>h3{

    background-color: var(--green);
    color: var(--white);
    padding: var(--padding);
    border-radius: var(--borderRadius);
    font-family: aonikRegular;
    font-size: clamp(1.2rem , 3vw , 2rem);
    
    box-shadow:var(--greenBoxShado) ;

}




.pomodoro-fullPage .pomo-container .session-box{

    color: var(--white);
    padding: var(--padding);
    font-family: aonikRegular;

    height: 70%;
    width: 70%;

     display: flex;
     justify-content: start;
     align-items: center;
     flex-direction: column;
     gap: 1rem;
    font-size: clamp(1.2rem , 3vw , 2rem);
   
}



.pomodoro-fullPage .pomo-container .session-box>h1{


    color: var(--white);
    font-size: clamp(5rem , 10vw , 12rem);
    font-family: aonikBold;
   
}




.pomodoro-fullPage .pomo-container .session-box .btns{

    color: var(--white);
    padding: var(--padding);
    font-family: aonikRegular;

    display: flex;
    gap: .8rem;
   
}

.pomodoro-fullPage .pomo-container .session-box .btns button{
    

    color: var(--white);
    padding: .5rem .8rem;
    border-radius: var(--borderRadius);
    background-color: var(--tri2);
    
    font-family: aonikRegular;

    text-transform: uppercase;
    border: none;

    font-size: clamp(.7rem , 3vw , 2rem);
    box-shadow: 7px 7px 0px var(--black);
   
   
   
    }

.pomodoro-fullPage .pomo-container .session-box .btns button:active{
    box-shadow: 0px 0px 0px var(--black);

    }
    
/** Daily goals  */



.goals-fullPage {
 flex-direction: column;
}


.goals-fullPage  .goal-feature{

     display: flex;
     width:100% ;
     height:calc(100% - 10%) ;
     padding: var(--padding);
     gap:2rem;
     
} 

.goals-fullPage  .goal-feature .addGoalForm{
    width: 40%;
    height: 90%;
    background-color:var(--tri2);
    border-radius: var(--borderRadius);
    padding: var(--padding);

    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    

}

 #goalTitle , #goalDescr , #addGoalBtn {

    width: 95%;
    outline: none;
    border: none;
    font-size: 1.1rem;
    padding: var(--padding);
    background-color: var(--sec);
    color: var(--pri);
    font-family: aonikLight;
    border-radius: var(--borderRadius);
     cursor: pointer;
}

.addGoalForm #goalDescr{
    height: 55%;
}

.addGoalForm #addGoalBtn{
    color: var(--sec);
    background-color: var(--pri);
}


.goals-fullPage  .goal-feature .goal-list-container{
    width: 60%;
    height: 90%;
    padding: .5rem;

    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    gap: .5rem;

    overflow-y: auto;
    background-color: var(--tri2);
    border-radius: var(--borderRadius);

    
}

.goal-list-container::-webkit-scrollbar{
    display: none;
}


.goal-list-container .goal-box{

    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: space-between;
    align-items: center;

    gap: .4rem;
    padding: var(--padding);
    border-radius: var(--borderRadius);
    background-color: var(--pri);
}

.goal-list-container .goal-box .title{
    font-family: aonikRegular;
    text-transform: capitalize;
  
    font-size: clamp(1.2rem , 2vw , 3rem);
    
}

.goal-list-container .goal-box .goal-achieved{
    width: 5%;
   
}


.goal-list-container .goal-box .false{
     display: none;
}

.goal-list-container .goal-box.true{
   
     display: block;
}


.goal-list-container .goal-box .description{

    width: calc(100% - 28% - 28%);
    font-family: aonikLight;
    font-size: clamp(.8em , 1.2vw , 1.5rem);
}

.goal-list-container .goal-box .completedBtn, .deletGoalBtn{

    font-family: aonikRegular;
    cursor: pointer;
     width:fit-content;
     font-size: clamp(.6rem , 1.2vw , 1.5rem);
    color: var(--white);
    padding: .5rem 1rem;
    background-color: var(--green);

   
    border: 1px solid var(--borderColor);
    border-radius: var(--borderRadius);
    
}


.goal-list-container .goal-box .deletGoalBtn{

     background-color: var(--red);
}

  





/* Tablete view */

@media (max-width:1020px) {



     main .allElems{
        position: relative;
     }

    main .allElems .wetherAndDate{

         width: 80%;
         height:20%;
        
        top: 60%;
        left: 50%;
        transform: translate(-50%, 0%);
    }
     
     main .allElems .allFeatures{ 
        width: 85vw;
        height: 14% ;
        flex-direction: row;
        position: absolute;
        bottom: 0%;
        left: 50%;
        transform: translate(-50%, -10%);
        
    }
      main .allElems .allFeatures .feature{  
        width: 25%;
        height: 100%;
    
     border-radius: var(--borderRadius);
     border: 1px solid var(--borderColor);
        flex-direction: row;
    }
     

 

     /* todo section  */

   main .todo-list-fullPage .todo-feature{
        flex-direction: column;
        height: 90%;
    }

     main .todo-list-fullPage .todo-feature .addTask{
        width: 100%;
        height: 70%;
    }


      main .todo-list-fullPage .todo-feature .todo-list-container{
        width: 100%;
        height:30% ;
    }



    /* Goal section  */
     main .goals-fullPage  .goal-feature{
        flex-direction: column;
        height: 90%;
    }

     main .goals-fullPage  .goal-feature .addGoalForm{
        width: 100%;
        height: 70%;
    }


      main .goals-fullPage  .goal-feature .goal-list-container{
        width: 100%;
        height:30% ;
    }


    /* Day Planner  */

    .daily-planner-fullPage .day-planner .day-time{
        width: 100%;
    }


   
}


/* Mobile view */

@media (max-width:500px) {

     main .allElems .wetherAndDate{

         width: 90%;
         height:20%;
        
        top: 60%;
        left: 50%;
        transform: translate(-50%, 0%);
    }

     main .allElems .allFeatures{  
        width: 95vw;
        height: 10%;
        
    }
      main .allElems .allFeatures .feature{  
        width: 25%;
        
    
    }

       main .allElems .allFeatures .feature>h3{ 
        font-size: 4vw;
       }
  
     /* Todo */
    
     main .todo-list-fullPage .todo-feature .addTask {
        padding: .5rem;
     }


      /* goal */
    
     main .goals-fullPage  .goal-feature .addGoalForm{
        padding: .5rem;
     }

        /* Pomodoro  */

    main .pomodoro-fullPage::-webkit-scrollbar{

        display: none;
    }
    
 
    
}
