
*{
    margin:0%;
    padding:0%;
 box-sizing:border-box;
 font-family: Arial, Helvetica, sans-serif;

 
}

html,body{
     height:100%;
     width: 100%;
}

main{
     width: 100%;
     height: 100%;
     background-color: #000;
     display: grid;
     grid-template-columns: 22% 20% 7% 27% 22%;
     grid-template-rows: 29% 24% 7% 18% 18%;
     grid-template-areas: 
      "lt ct1 ct1 ct2 rt"
      "lt c c c rt"
      "lb c c c rt"
      "lb c c c rb"
      "lb cb1 cb2 cb2  rb";
      gap: 6px;
}

.left-top{
     background-color: #FDE7E7;
     grid-area: lt;
     border-radius: 25px;
     padding: 10px 40px;
     display: flex;
     flex-direction: column;
     gap: 5px;

}
.lt-1{
     width: 100%;
     height: 20%;
     display: flex;
     align-items: center;
     justify-content: space-between;

}
.lt-1 i{
     transform: rotate(90deg);
     font-size: 30px;
}

.lt-2 {
     width: 100%;
     height: 40%;
     display: flex;
     
}
.lt-2 img{
     width: 100%;
     height: 100%;
     object-fit: cover;
}
.lt-3{
     width: 100%;
     height: 40%;
     display: flex;
     flex-direction: column;
     justify-content: space-evenly;

}
.lt-3 h1{
     font-size: 60px;
}

.lt-3 button{
      background: #fff;
     
     padding: 7px 15px;
     color: #000;
     width: 70%;
     font-size: 20px;
     border-radius: 20px;
     border: none; 
}




/* left bottom  */

.left-bottom{

     background-color: #393737;
     grid-area: lb;
     border-radius: 25px;
     display: flex;
     flex-direction: column;
     justify-content: space-between;
     padding: 5px 10px;
     color: white;
     gap: 5px;

}
.lf-btm-1 {
     display: flex;
     width: 100%;
     justify-content: space-around;
     align-items: start;
     padding: 10px;
}
.lf-btm-1 i{
     background: rgb(182, 105, 12);
     padding: 7px;
     border-radius: 5px;



}
.lf-btm-1 h2 span{
     color: bisque;
}

.lf-btm-2{
     width: 100%;
     display: flex;
     justify-content: space-evenly;
    
}

.lf-btm-2 img{

      width:120px;
      height: 140px;
      object-fit: cover;
      border-radius:15px ;
      

}
.lf-btm-3 .imgs{
     display: flex;
     align-items: center;
     justify-content: start;
     margin-left: 15px;
    
}

.lf-btm-3 .imgs img{
      width: 50px;
      height: 50px;
      object-fit: cover;  
      border-radius: 50%;
      margin-right: -10px;
      border: 2px solid white;

}
.lf-btm-3 i{
      width: 50px;
      height: 50px;
      object-fit: cover;  
      border-radius: 50%;
      margin-right: -10px;
      background-color: rgb(244, 86, 113);
      padding: 15px;
      border: 2px solid white;
}

/* left bottom end  */



.center-top-1{
     background-color: #FBF7F8;
     grid-area: ct1;
     border-radius: 25px;
     display: flex;
     flex-direction: column;
     justify-content: space-between;
     padding: 20px;
     gap: 5px;

}

.ct-1{
     width: 100%;
     height: 40%;   
     display: flex;
     justify-content: space-around;
     align-items: center;  
}
.ct-1 h2{
     font-size: 70px;
}
.ct-1 i{
     font-size: 30px;
     background-color: pink;
     color: #ff03bc;
     border-radius: 50%;
     padding: 10px;

}
.ct-2{
     width: 100%;
     height:30% ;
     padding: 0 30px;
}
.ct-3{
     height: 30%;
     width: 60%;
     align-items: center;
     display: flex;
     justify-content: space-between;
     
}

.ct-3 img{
     width: 90px;
}
.center-top-2{
     background-color: #FBF7F8;
     grid-area: ct2;
     border-radius: 25px;
      display: flex;
     flex-direction: column;
     justify-content: space-between;
     padding: 20px;
     gap: 5px;
     position: relative;
}
.center-top-2 .ct-2{
     font-size: 30px;
}
.center-top-2 h2{
     font-size: 60px;
     padding: 0 20px;


 }



.center-top-2 .ct-3 i{
     position: absolute;
     font-size: 50px;
     background: pink;
     right: 8%;
     bottom: 8%;
     padding: 20px;
     border-radius: 15px;
}
/* Center box  */
.center{
     background-color: #fce5e6;
     grid-area: c;
     border-radius: 25px;
    display: flex;
    justify-content: center;
    position: relative;

}

.circle{
     width: 50%;
     height: 100%;
     border-radius: 50%;
     background: linear-gradient( rgb(243, 198, 205), rgb(243, 189, 211))  ;
}
.center img{
     position: absolute;
     
    height: 450px;
    bottom: 0;
     
}
.growth {
     position: absolute;
     padding: 5px;
     top:  24%;
     left: 6%;
    display: flex;
    align-items: center;
     justify-content: center;
     overflow: hidden;
    width: 230px;
    height: 150px;
    background: #fff;
    font-size: 2em;
    border-radius: 15px;
    color: #000;
}
.growth h3{
    font-size: 15px;
    width: 100%;
     height: 100%;
     text-align: center;
     font-weight: normal;
     display: flex;
     justify-content: space-around;
    
}
.growth img {
     width: 100%;
     height: 80%;
     object-fit: cover;
}

.growth:nth-child(2){
     top: 30%;
     width: 230px;
     height: 170px;
     left: 80%;
     transform: translate(-50%, -50%);
}
.growth:nth-child(3){
     top: 60%;
     width: 160px;
     height: 150px;
     left: 70%;
     
    
}
.growth:nth-child(3) img{
     width: 100%;
     height: 100%;
     object-fit: cover;  
}
.play{
     position: absolute;
     top: 70%;
     width: 200px;
     height: 100px;
     left: 7%;
     border-radius: 20px;
     overflow: hidden;
}
.play img{
     width: 100%;
     height: 100%;
     object-fit: cover;  
}
/* center box end  */

/* center bottom */

.center-bottom-1{
     background-color: #FCF8F8;
     grid-area: cb1;
     border-radius: 25px;
     display: flex;
     flex-direction: column;
     padding: 10px 20px;
     gap: 4px;
}
.cb-1-1 {
     width: 100%;
     height: 100px;
     /* background-color: red; */
     display: flex;
     align-items: center;
     justify-content: space-between;
     
}
.cb-1-1 h4{
     background: pink;
     padding: 5px;
     border-radius: 7%;
} 
.cb-1-1 h3 span{
     font-size: 15px;
}

.cb-1-2 {
     width: 100%;
     height: 100px;
     /* background-color: yellow; */
     display: flex;
     gap: 10px;
     justify-content: space-around;
     

}
.cb-1-2 .bx{
     background: #000;
     height: 50px;
     width: 50px;
     border-radius: 8px;
}
.cb-1-2 .bx:nth-child(2){
     background: #bda8a8;
}
.cb-1-2 .bx:nth-child(3){
     background: #f33e3e;
}
.cb-1-2 .bx:nth-child(4){
     background: #a8bdae;
}

.cb-1-3 {
     width: 100%;
     height: 100px;
     display: flex;
     justify-content:space-between ;

    
}
.cb-1-3  i{
     font-size: 25px;
}


.center-bottom-2{
     background-color: #FDF1F0;
     grid-area: cb2;
     border-radius: 25px;
     padding: 10px;
     display: flex;
     overflow: hidden;
       position: relative;

}
.cb-2-1{
     width:60%;
     display: flex;
     flex-direction: column;
     align-items: start;
     gap: 5px;
     padding: 0 20px;
      
     justify-content: space-around;
     font-family: Arial, Helvetica, sans-serif;
}
.cb-2-1 button{
     background: #000;
     padding: 5px 14px;
     color: #fff;
     width: 70%;
     font-size: 20px;
     border-radius: 20px;
}

.cb-2-2 {
     width: 40%;
     display: flex;
     align-items: center;
     justify-content: center;
}
.cb-2-2  img {
     width:60%;
     z-index: 10;
}
.cb-2-pink{
 position: absolute;
 width:200px;
 height: 200px;
 background: linear-gradient(pink , pink);
 border-radius: 50%;
 right: -10%;
 bottom: -50%;

}

/* center bottom end  */



/* right top  */
.right-top{
     background-color: #FCF8F7;
     grid-area: rt;
     border-radius: 25px;
     display: flex;
     flex-direction: column;
     justify-content: space-between;
     padding: 10px 20px;
}

.right-top-1{
     width: 100%;
     font-family: Arial, Helvetica, sans-serif;
     height: 40%;
     display: flex;
     flex-direction: column;
     justify-content: space-evenly;
    
}
.right-top-1 .imgs img{
      width: 60px;
      height: 60px;
      object-fit: cover;
      border-radius: 50%;
      margin-right: -20px;
      border: 4px solid white;
}
.right-top-2{
     width: 100%;
     font-family: 'poppins' sans-serif;
     height: 60%;
     display: flex;
     padding: 20px;
     flex-direction: column;
     position: relative;
     border-top: 1px solid black;
     
}

.right-top-2 h1{
     font-size: 80px;
}
.right-top-2 img {
     position: absolute;
      width: 200px;
      height: 200px;
      top: 35%;
      left: 0;
      object-fit: cover;
}
.right-top-2 i{
     position: absolute;
     bottom: 10%;
     right: 7%;
     background-color: pink;
     padding: 10px;
     font-size: 60px;
     border-radius: 15px;
}

/* right top end  */


.right-bottom{
     background-color: #FBF6F8;
     grid-area: rb;
     border-radius: 25px;
     display: flex;
     flex-direction: column;
      padding: 20px;
      align-items: center;
      gap: 10px;
     
}

.rb-1 {
     display: flex;
     align-items: center;justify-content: center;

     height: 30%;
     width: 100%
    
}

.rb-1 img{
     width: 100px;
}

.rb-2{
     /* background-color: red; */

     height: 70%;
     width: 100%;
     display: flex;
     flex-direction: column;
     justify-content: space-between;
     align-items: center;
        
}
.rb-2 h2{
     font-size: 80px;
     font-family: Arial, Helvetica, sans-serif;
     letter-spacing: 2px;

}
.rb-2 button{
      background: rgb(244, 193, 201);
     padding: 10px 15px;
     color: #000;
     width: 70%;
     font-size: 20px;
     border-radius: 20px;
     border: none;  
}