*{
    margin:0%;
    padding:0%;
 box-sizing:border-box;
 font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

html,body{
     height:100%;
     width: 100%;
}

main{

     
     width: 100%;
     padding: 15px;
     display: flex;
     flex-direction: column;
     
     gap: 20px;
  



}

section{
     
     width: 100%;
     height: 100vh;

}

/* section 1  */
.sec-1{

     
     /* background: aliceblue; */
     position: relative;
  

}

/* nav bar  */

.sec-1  nav{
     
     height: 80px;
     width: 100%;
     position: absolute;
     z-index: 100;
     top: 0%;
     padding: 22px 6px;
     display: flex;
     align-items: center;
     justify-content: space-between;

}
.nav-right{

     width: 22%;
     height: 100%;
   
     display: flex;
     align-items: center;
     justify-content: space-between;

}

.nav-right a{
     text-decoration: none;
     color: white;
     padding: 10px 15px;
     font-weight: 500;
     font-size: 17px;
   
}
.nav-right a:nth-child(3){
       border: 1px solid white;
}

.sec-1  nav h2{
     color: white;
     font-size: 20px;
     font-weight: 500;
}

/* nav end  */

/* hero image */

.sec-1 .hero-image{

      width: 100%;
      height: 96%;
      z-index:1;
     
      
      object-fit: cover;
}

/* hero text  */

.hero-text {

     position: absolute;
     z-index: 100;
     top: 58%;
     left: 50%;
     transform: translate(-50% , -50%);
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     color: white;

}
.hero-text h1{
     font-size: 130px;
}
.hero-text h3{
     font-size: 23px;
     font-weight: 600;
     letter-spacing: 1px;
     margin-top: -5px;
}
.hero-text .line{
     width: 30px;
     margin-top: 6px;
     height: 5px;
     background: #fff;
}


/* hero section end  */


/* articles section  */


#articles{
     padding-top: 15px;
     background-color: #F5F7F6;
     /* height: 100vh; */
     /* margin-top: 30px; */
    


}

.sec-2 .s2-text{

     text-transform: uppercase;
     /* font-size: 60px; */
     height: 27%;
     /* background-color: crimson;  */
     display: flex;
     align-items: center;
     justify-content: center;
     position: relative;
}

.sec-2 .s2-text h1{
 position: relative;
 padding: 20px 0 ;
 font-size: 50px;
     font-weight: 600;

 
}
.sec-2 .s2-text h1::after{
     content: "";
     position: absolute;
     width: 90px;
     height: 5px;
     bottom:0%;
     left: 40%;
     background-color: #000;

}

.sec-2 .s2-boxs{

     height: 80%;
     /* background-color:lightgreen ; */

     display: flex;
     gap: 40px;
     justify-content: center;
    


}

.sec-2 .s2-boxs .box{

     width: 320px;
     height: 500px;
    background-color: #fff;
    /* box-shadow: 0 0 10px ; */
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    transition: all .3s ease-out ;

    &:hover{
      box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
      transform: scale(1.1);
    }


}
.sec-2 .s2-boxs .box img{

        width: 100%;
        height: 50%;
        object-fit: cover;
    


}

.sec-2 .s2-boxs .box .box-text{

        width: 100%;
        height: 50%;
        /* background-color: #fff; */
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;


      
        

}
.sec-2 .s2-boxs .box .box-text p{
     text-align: center;
     font-size: 19px;



}
.sec-2 .s2-boxs .box .box-text p::after{
     content: "";
     position: absolute;
     top: 30%;
     width: 65px;
     height: 3px;
     left: 40%;
     background-color: #000;
}

/* section 2 Articles end  */


/* section 3 about   */


#about{

     padding: 20px 0;
     /* background-color: red; */
     display: flex;
     
     gap: 10px;
    



}


.sec-3 .s3-left{

      height: 100%;
      width: 100%;

}

.sec-3 .s3-left img{

     object-fit: cover;
      height: 100%;
      width: 100%;


}


.sec-3 .s3-right{

      height: 100%;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-around;
      flex-direction: column;
      gap: 30px;
      


}

.sec-3 .s3-right h2{

     font-size: 50px;
     position: relative;
     font-weight: 500;
     padding: 10px 0;
}

.sec-3 .s3-right h2::after{

      content: "";
      background-color: #000;
      height: 4px;
      width: 80px;
      bottom: 0;
      left: 30%;
      
      position: absolute;

}


.sec-3 .s3-right p{
        width:83%;
        font-size: 20px;
        margin-top: -250px;
        font-weight:    600;
        text-align: center;

}

/* section 3 about   end here  */ 


/* section 4 subscribe   */

.sec-4{

      padding: 20px 0;

      
}

.sec-4 .s4-top{

      width: 100%;
      height: 60%;
      background-color: #F5F7F6;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 13px;
      justify-content: center;

}

.sec-4 .s4-top h1{
     font-size: 50px;
}
.sec-4 .s4-top p{
     font-size: 20px;
     font-weight: 600;
}

.sec-4 .s4-top input{
    
    font-size: 16px;
    padding: 16px 60px ;
    background-color: #fff;
    border: none;


}

.sec-4 .s4-top button{
    padding: 5px 30px ;
    font-weight: 500;
    border: 1px solid black;
    background-color: transparent;
    cursor: pointer;


}






.sec-4 .s4-bottom {

      width: 100%;
      height: 40%; 
      display: flex;
      align-items: center;
      justify-content: center;
   
}

 .sec-4 .s4-bottom .s4-btm-left{

      
      width: 100%;
      height: 100%; 
      display: flex;
      align-items: center;
      justify-content: center;
      gap:15px;
 }

  .sec-4 .s4-bottom .s4-btm-left i{

       font-size: 23px;
       font-weight: 800;
      

  }

  .sec-4 .s4-bottom .s4-btm-right{

      
      width: 100%;
      text-transform: uppercase;
      height: 100%; 
      display: flex;
      align-items: center;
      justify-content: center;
       gap:15px;
       font-weight: 600;

 }

